
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}


body{    
    background: url(yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 208, 205, 0.3);
    min-height: 110vh;
    padding: 50px;
}

.welcome-border{
    display: flex;
    border-radius: 25px;
    width: 50dvw;
    height: 75dvh;
    padding: 50px;
    background-color: #06141b;
    margin-right: 100px;
    margin-bottom: 20px;

    
}

.sign-in{
    display: flex;
    width: 50%;
    height: 750px;
    border-radius: 25px;
    padding: 50px;
    
}

.welcome-text{
    
    width:50%;
    color: #CCD0CF;
    font-size: 5.5vw;
    
}

.sign-in-btn{
    
    width: 130px;
    height: 40px;
    font-weight: 50;
    background: rgba(red, green, blue, alpha);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    display:center;
}

.sign-in-btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

#logo{
    margin-top: 20px;
}

