<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Impulse| Login</title>
</head>
<body>
    <% if (isAuthenticated && user['http://impulsewebapp.azurewebsites.net/roles'][0] === "Manager ") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://impulsewebapp.azurewebsites.net/ManagerHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://impulsewebapp.azurewebsites.net/roles'][0] === "Employee") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://impulsewebapp.azurewebsites.net/EmployeeHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://impulsewebapp.azurewebsites.net/roles'][0] === "Human Resources") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://impulsewebapp.azurewebsites.net/HRHomepage.ejs';
            };
        </script>
    <% } %>
        
        
    <article class="wrapper">

        <article class="welcome-border">

            <section class="welcome-text">
                <h1>Welcome </h1>
                <h1 id="logo">Impulse</h1>
            </section>
                
        </article>

        <article class="sign-in">
          
            <button class="sign-in-btn" id="loginBtn"><a href="/login/">Login</a></button>  
            <button class="sign-in-btn" id="loginBtn"><a href="/logout/">Logout</a></button>   
            
            
            



            <!-- <script>
                window.userData = JSON.stringify(user,null,2);
                console.log( window.userData);
            </script> -->
            
        </article>

    </article>
    <!-- <script src="../public/js_files/ejs_script.js"></script> -->
    <script src="../js_files/getUsers.js"></script>
</body>
</html>