<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Impulse| Login</title>
</head>
<body>
    <article class="wrapper">

        <article class="welcome-border">

            <section class="welcome-text">
                <h1>Welcome </h1>
                <h1>to</h1>
                <h1 id="logo">Impulse</h1>
            </section>
                
        </article>

        <article class="sign-in">
            <form>
                <!-- <h3>Login Here</h3>
                <label for="username">Username</label>
                <input type="text" placeholder="Email" id="username">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password">
                <button href="/login/">Log In</button>

            </form> -->

            <button class="sign-in-btn" id="loginBtn"><a href="/login/">Login</a></button>         

        </article>

    </article>
</body>
</html>