<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
</head>
<body>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Manager ") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/ManagerHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Employee") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/EmployeeHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Human Resources") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/HRHomepage.ejs';
            };
        </script>
    <% } %>
        
    <section class="background-container"></section>
    <img class="logo" src="../assets/impulse-5-20-2024.png" alt="Logo" width="250" height="70">
    <section class="slogan">

        <p class="unite">unite.</p>
        <p class="collaborate">collaborate.</p>
        <p class="achieve">achieve.</p>
    </section>
    
    <button class="signIn" onclick= "location.href='/login/'">Login</button>
        <script src="../js_files/script.js"></script>
</body>
</html>