<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>
<body>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Manager ") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/ManagerHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Employee") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/EmployeeHomepage.ejs';
            };
        </script>
    <% } %>
    <% if (isAuthenticated && user['http://localhost:3000/roles'][0] === "Human Resources") { %>
        <script>
            window.onload = function() {
                window.location.href = 'http://localhost:3000/HRHomepage.ejs';
            };
        </script>
    <% } %>
        
    <section class="background-container"></section>
    <img class="logo" src="../assets/impulse-5-20-2024.png" alt="Logo" width="250" height="70">
    <section class="slogan">
        <!-- <img class="unite" src="../assets/unite-5-20-2024 (1).png" alt="unite" width="450" height="70">
        <img class="collaborate" src="../assets/collaborate-5-20-2024 (1).png" alt="collaborate" width="950" height="70">
        <img class="achieve" src="../assets/achieve-5-20-2024 (1).png" alt="achieve" width="700" height="70"> -->
        <p class="unite">unite.</p>
        <p class="collaborate">collaborate.</p>
        <p class="achieve">achieve.</p>
    </section>
    <button class="signIn"><a href="/login/">Login</button>
        <script src="../js_files/getUsers.js"></script>
</body>
</html>