<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manager</title>
        <link rel="stylesheet" href="../stylesheets/ManagerHomepage.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <p style="display: none;" class="hidden" id="Email"><%= user.email %></p>
        <p style="display: none;" class="hidden" id="Role"><%= user['http://localhost:3000/roles'][0] %></p>
        <p style="display: none;" class="hidden" id="Name"><%= user.name %></p>

        <nav class="horizontalNavbar">
            <h1 id="name">impulse.</h1>
            <article class="horNavButtons">
                <ul>
                    <li class="navButton">Home</li>
                   <li class="navButton"><a href="../homepage/bookcarwash.html">Book car wash</a></li> 
                   <li class="navButton"><a href="../homepage/bookmeals.html">Book meal</a></li>
                   <li class="navButton"><a href="../homepage/timesheet.html" >Timesheet</a></li>
                </ul>
            </article>
        </nav>

        <nav class="verticalNavbar">
            <article>
                <ul>
                    <li><a href="#"><img src="../assets/ProfileIcon.svg" alt="Profile Icon" /></a></li>
                    <li><a href="#"><img src="../assets/SettingsIcon.svg" alt="Settings Icon"/></a></li>
                    <li><a href="/logout/"><img src="../assets/LogoutIcon.svg" alt="LogoutIcon"></a></li>
                </ul>
               
            </article>
        </nav>
        
        <section class="NameRole">
            <section class="greeting">
                <p>Hello, </p> 
                <p id="nameSurname"><%= user.name %></p>
            </section>
            <p id="role">Manager</p>
        </section>

       <article class="cards">
            <article class="MainCards" >
                <!-- remove names of cards when entering the info -->
                <article id="PersonalCard">Personal card</article>
                
                <article id="MoreCards">
                    <section id="FeedbackCard" onclick="MoveToFeedback()">
                        post feedback card
                    </section>
                    <section id="TeamReportsCard" onclick="MoveToReports()">
                        view Team Reports card
                    </section>
                </article>
            </article>

            <article class="SideCards">
                <article id="CalendarCard">calendar card</article>
                <article id="NotificationCard" >notification card</article>
            </article>
       </article>

       <script src="../js_files/ManagerHomepage.js"></script>
        <script src="../js_files/bookcarwash.js"></script>
       <script src="../js_files/bookmeals.js"></script>
       <script src="../js_files/timesheet.js"></script>
       <script src="../js_files/FeedbackStaff.js"></script>
       <script src="../js_files/ReportsManager.js"></script>
       <script src="../js_files/getUsers.js"></script>

       <script>
        window.onload = function() {
            let paragraphElement = document.getElementById('Email');
            let paragraphText = paragraphElement.textContent;
            localStorage.setItem('storedData', paragraphText);
        }
   </script>
    </body>
</html>