@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

*{
    font-family: 'Heebo' ,'Tahoma', sans-serif;
    color: white;
    box-sizing: border-box;
    padding:0;
    margin:0; 
}

body{
    background: #0F1322 ; 
    z-index: 000;
    overflow: auto;
}
a {
    text-decoration: none;
}
.tuesday, .thursday {
    text-align: center;
}
#name{
    font-size: 50px;
}
.horizontalNavbar{
    margin-left: 75px;
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
}

.horNavButtons ul {
    border: none;
    background: none;
    list-style-type: none;
    display: flex;
    padding:0;
}
.horNavButtons ul a{
    text-decoration: none;
}
.horNavButtons{
    margin-left: auto;
    margin-top: 15px;
    background-color: #353948;
    border-radius: 8px;
    padding-block: 6px;
    height: fit-content;
    flex-wrap: wrap;
    
}

.navButton {
    display: block;
    position: relative;
    padding-bottom: 20px;
    border: 2px solid transparent;
    margin-inline: 15px;
    padding-bottom: 2px;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
    padding-inline: 15px;
    cursor: pointer;  
    background-color: #444857;
    border-radius: 6px;
}

.navButton:active{
    transform: scale(0.9);
    background-color: #93D5E1;
}
.navButton:hover{
    background-color: #93D5E1;
}

.verticalNavbar{
    position: fixed;
    height: 100vh;
    width: 40px;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 2px solid white ;
}
.verticalNavbar ul{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
.verticalNavbar li{
    display: flex;
    margin-left: 5px;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.verticalNavbar a{
    align-items: center;
    width: 100%;
    height: 100%;
}
.verticalNavbar a:hover{
    cursor: pointer;
}

.verticalNavbar li:last-child{
    position: absolute;
    bottom: 0;
    width: 80%;
    height:5%;
    margin-inline: auto;
    margin-bottom: 10px;
}
.Table{
    width: 80%;
    height: fit-content;
    margin-inline: auto;
    margin-top: 3%;
    border-radius: .8rem;
    padding-inline: 3%;
    padding-block: 2%;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container2, .container3{
    background: #353948;
    padding: 3% 3%;
    width: 40%;
    height: fit-content;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.subcontainer2{
    background: #93d5e1;
    border-radius: 15px;
    transition: all 0.5s ease;
    padding: 3% 3%;
    margin-block: 5px;
}
.subtextbox1{
   margin-inline: 35%;
   text-align: center;
   
}




.slotButton1, .slotButton2 {
    
    position: relative;
    height: 60%;
    width: 70%;
    margin-top: 10%;
    padding-bottom: 20px;
    border: 2px solid transparent;
    margin-inline: auto;
    padding: 5% 5%;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;
    padding-inline: 15px;
    cursor: pointer;  
    background-color:#444857;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.slotButton1:active, .slotButton2:active {
    transform: scale(0.9);
    background-color:#0F1322;
}
.slotButton1:hover, .slotButton2:hover{
    background-color: #0F1322;
}

.hidden{
    display: none;
    visibility: hidden;
}

/* POPUPS */
.popup, .popup1{
    width: 400px;
    background: #0f1322;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);    
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup h2,.popup1 h2  {
    color: #fff; /* Change 'blue' to whatever color you prefer */
}

.popup button, .popup1 button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background: #93D5E1;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

input{
    margin-top: 50px;
    display: block;
    width: 100%;
    padding:10px 0;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 19px;
    color: black;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1); 
}





/* table css */
table, th, td {
    padding: 1rem;
    color: white;
    border-collapse: collapse;
    border: solid;
    border-width: 0.05rem;
}
table{
    width: 100%;
    margin-top:5%;
    margin-inline:auto;
}
.main_tbody{
    height: fit-content;
}
#main_table{
    margin-top: 1.5%
}
#MyBookings{
    margin-top: 2%
}
.bookings{
    width: 100%;
    height: 20%;
    background-color: #0F1322;
    border-radius: .6rem;
    margin-top: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-inline: 1.5rem;
}

.bookings::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.bookings::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.bookings:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #444857;
    visibility: hidden;
}

body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

/* SCALING */
@page {
    size: A4; /* or Letter, Legal, etc. */
    margin: 1cm; /* adjust margins as needed */
  }


  @media screen and (min-width:300px) and (max-width:767px){

    .verticalNavbar{
        height:100%;
    }

    .horizontalNavbar{
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: 90%;
    }
    .horNavButtons{
        background-color:#0F1322;

    }
    .horNavButtons ul{
        flex-wrap: wrap;
    }
     .wrap .container2 .subcontainer2{

        height: 90%;
        width: 90%;

     }

     .wrap .container3 .subcontainer2{

        height: 90%;
        width: 90%;

     }



}



@media screen and (min-width:768px) and (max-width:1020px){
    .horizontalNavbar{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .horNavButtons{
        background-color:#0F1322;

    }
    .horNavButtons ul{
        flex-wrap: wrap;
    }
}
@media screen and (min-width:1600px) {

}
