*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }


.title{
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left:20px;
    border-top: 50px;
    text-align: center;
}
.container{
    display: flex;
    width: 1200px;
    margin: auto;
    align-items: center;
  }
.half{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}
    
    
      .employee_card{
        width: 100%;
        padding: 15px;
        cursor: pointer;
        display: block;
        border-radius: 10px;
        background: #fff;
        margin-bottom: 15px;
        justify-content: space-between;
        border: 2px solid rgb(190, 190, 190);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        width:50%;
      }

      .employee_card[style*="display: none;"] {
        display: none; /* Hide employee cards that don't match the search */
      }

      .employee_details{
        display: flex;
      }
      .employee_details .img{
        display: flex;
        justify-content: center;
        align-items: center;
      }
     
      .employee_details .text{
        margin-left: 2.3rem;
      }
      .employee_details .text span{
        color: rgb(116, 112, 112);
      }
      .staff_number{
        text-align: right;
        color: rgb(54, 54, 54);
      }
      .employee_card:hover{
        border: 2px solid blueviolet;
      }

      #comment{
        border: 2px solid rgb(190, 190, 190);
        height:100px;
        border-radius: 10px;
        background:  #fffffff6;
        width: 30%; 
        overflow-wrap: break-word;
      }
.C{
    text-align: center;
    padding: 10px;
}
.comments__container{
    text-align: center;
}
.comment__card{
    padding: 10px;
}