@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@font-face {
    font-family: 'amznFont';
    src: url('../assets/ITC_Officina_Sans_Std_Bold/ITC_Officina_Sans_Std_Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Heebo' ,'Tahoma', sans-serif;
    color: black;
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}
body{
    width: 100%;
    height: 100vh;
    background: url(../assets/5208818.jpg) ;
    background-size: 100%; /* Adjust the percentage to zoom out */
    background-position: center; /* Center the image */
    background-attachment: fixed
}


.logo{
    margin-bottom: 3%;
}

.slogan{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 10%;

}

.unite{
    font-family: 'amznFont';
    color: rgb(248, 213, 57);
    margin-left: 1%;
    font-size: 650%;
}
.collaborate{
    font-family: 'amznFont';
    color: rgb(248, 213, 57);
    margin-left: 7%;
    font-size: 650%;
}
.achieve{
    font-family: 'amznFont';
    color: rgb(248, 213, 57);
    margin-left: 14%;
    font-size: 650%;
}

button {
    font-size: 16px;
    position: relative;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    border-radius: 2em;
}
   
button:active {
    transform: scale(0.95);
}
   

button .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

button:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
   
}

.signIn, a{
    font-family: 'amznFont';
    
    margin-top: -30px;
    color: rgb(248, 213, 57);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.signIn{

    margin-left: 80%;
}

footer{
    background-color: #0f1322;
    font-family: 'amznFont';
    font-weight: 300;
    color: #fff;
    position:fixed;
    padding-block: 5px;
    left:0px;
    bottom:0px;
    height:fit-content;
    width:100%;
    text-align: center;

}