*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

body{
    background: url(yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  }
.title{
    padding-left:20px;
    border-left:20px;
    border-top: 50px;
}
.container{
    display: flex;
    width: 1200px;
    margin: auto;
    align-items: center;
  }

a{
    text-decoration: none;
    color: #194569;
}

a.exception{
    color: white;
}


.searchbutton {
    background: none;
    appearance: none;
	border: none;
}

article.middle {
    display: flex;
    justify-content: center;
}

.changeposition {
    order: -1;
}


/* XXX Small screens (320px and up) */
@media only screen and (min-width: 320px) {

.searchsection {
    display: flex;
    position: relative;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 500px solid transparent;
    border-radius: 20px;
    width: 300px;
    flex-direction: column;
    padding-bottom: 10px;
}

.add-button{
    top:50px;
    left:550px;
    border-left:500px;

  }
.button-image{
    top:50px;
    left:550px;
    width: 50px; 
    height: auto; 
    cursor: pointer;
}

.search {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #81D4FA;
    }

    .searchbar {
        display: flex;
        font-size: 10px;
        padding: 10px;
        border: none;
        width: 550px;
        margin-left: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        outline: none;
        border-radius: 30px;
        color: black;
        background-color: rgb(237, 232, 245);
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
       }

    .searchbar:focus {
        background-color: rgb(237, 232, 245);
        cursor: text;
    }

    .searchbar:hover {
        background-color: rgb(237, 232, 245);
    }

    .searchimg {
        border-radius: 30px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 8px;
        cursor: pointer;
    }

    .searchimg:hover {
        background-color: #edf2fb;
    }

     .closeimg {
        display: none;
        outline: none;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-left: 8px;
        border-radius: 30px;
        cursor: pointer;
    }

    .closeimg:focus {
        background-color: #edf2fb;
    }

    .closeimg:hover {
        background-color: #edf2fb;
    }
   
   .list {
       display: none;
       position: relative;
       flex-wrap: wrap;
       font-size: 10px;
       padding: 0px;
       overflow: auto;
       max-height: 120px;
       width: 100%;
       opacity: 0;
       list-style-type: none;
       color: rgb(255, 255, 255);
   }

   .list:focus {
    background-color: #edf2fb;
}

   .borderbetween {
    display: none;
    border-top: 1px rgb(224, 222, 222) dashed;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
   }
   
   .section {
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       text-align: center;
       cursor: pointer;
       color: black;
       font-family: 'Roboto', sans-serif;
   }

   .section:hover {
    background-color: rgb(235, 222, 222);
   }

     .noresult {
         display: none;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       color: #9c9a97;
       text-align: center;
       cursor: default;
       border-radius: 10px;
       font-family: 'Roboto', sans-serif;
   }
   
    }
    
    /* X Small screens (425px and up) */
    @media only screen and (min-width: 425px) {
       
    }
    
    /* Small screens (640px and up) */
    @media only screen and (min-width: 640px) {
        .searchbar {
            font-size: 12px;
           }
       
       .list {
           font-size: 12px;
           max-height: 180px;
       }

       .searchsection {
           width: 400px;
           display: flex;
           padding: 10px;
           justify-content: space-between;
           align-items: center;
       }

       .searchimg {
           margin-right: 8px;
       }

       .closeimg {
           margin-left: 8px;
       }
    }
    
    /* Medium screens (768px and up) */
    @media only screen and (min-width: 768px) {
        .searchbar {
            font-size: 14px;
           }
       
       .list {
           font-size: 14px;
       }
    }
    
    /* Large screens (1024px and up) */
    @media only screen and (min-width: 1024px) {
        
    }
    
    /* X Large screens (1280px and up) */
    @media only screen and (min-width: 1280px) {
    }
    
    /* XX Large screens (1536px and up) */
    @media only screen and (min-width: 1536px) {

        .searchbar {
            font-size: 16px;
        }

       .list {
          font-size: 16px;
        }
    }
     
    /* XXX Large screens (2560px and up) */
    @media only screen and (min-width: 2560px) {

       .list {
          max-height: 240px;
        }
    }
    
    .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
      }

    .show {
        display: initial;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s;
      }

      .remove {
          display: none;
      }

      .add {
          display: initial;
      }
    
      a,button{
        cursor: pointer;
    }
    
    nav{
        position: absolute;
        top: 100px;
        right: 50px;
        width: 250px;
        
    }
    
    .navigation{
        position: fixed;
        right: -500px;
        width: 350px;
        height: 100%;
        background: transparent;
        border: 2px solid rgba(219, 236, 244, .1);
        border-radius: 6px;
        backdrop-filter: blur(5px);
        transition: .5s;
    }
    

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .navigation ul li{
        color: #194569;
        text-align: right;
        text-transform: uppercase;
        list-style-type: none;
        font-size: 1.5em;
        padding: 20px 30px;
        border-bottom: 1pt solid #194569;
    }
    
    .hamburger, .bar{
        position: fixed;
    }
    
    .hamburger{
        display: block;
        background-color: #fff;
        top: 5%;
        left: 95%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        border: 0;
        background: 0 0;
    }
    
    .bar{
        top: 3px;
        background: #194569;
        width: 100%;
        height: 4px;
        transition: all .3s ease-in;
    }
    
    #bar2{
        top: 11px;
    }
    
    #bar3{
        top: 19px;
    }
    
    .navigation.active{
        right: 0;
    }
    
    .hamburger.open #bar1{
        background-color: #194569;
        transform: rotate(45deg) translate(6px, 5px);
    }
    
    .hamburger.open #bar2{
        background-color: transparent;
    }
    
    .hamburger.open #bar3{
        background-color: #194569;
        transform: rotate(-45deg) translate(6px, -5px);
    }

    #select-all-container {
        display: none; /* Hide the container by default */
      }
      #select-all,
      #cancel-checkboxes {
        display: none;
      }

    .popup{
        display: flex;
        flex-direction: column;
        width:400px;
        background:transparent;
        border: 2px solid rgba(219, 236, 244, .1);
        border-radius: 6px;
        backdrop-filter: blur(5px);
        background-color: rgba(219, 236, 244, 0.1);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.1);
        text-align: center;
        align-items: center;
        padding: 0 30px 30px;
        color: #194569;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .popup .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .input-box input{
        width: 100%;
        height: 50%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(25, 69, 105, 1);
        border-radius: 40px;
        font-size: 16px;
        color: #194569;
        padding: 20px 45px 20px 20px;
    }

    .input-box input::placeholder{
        color: #194569;
    }
    .input-box i {
        position: absolute;
        right: 20px;
        top: 25%;
        transform: translate(-50%);
        font-size: 20px;
    }

    .popup .add{
        width: 100%;
        height: 45px;
        background: #194569;
        border-bottom: 20px;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: white;
        font-weight: 600;
    }

    .popup .close{
        width: 100%;
        height: 45px;
        background: #194569;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: white;
        font-weight: 600;
    }

    .username{
        border-bottom: 50px;
    }
    .bx.bx-plus-circle {
        /* Add your CSS properties here */
        color: #194569; /* Example property: changes the color to blue */
        font-size: 25px;
        background-color: transparent; /* Example property: changes the font size to 24 pixels */
    }
    
    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%,-50%) scale(1);
    }
      .employee_card{
        width: 100%;
        padding: 15px;
        cursor: pointer;
        display: block;
        border-radius: 10px;
        background: #fff;
        margin-bottom: 15px;
        justify-content: space-between;
        border: 2px solid rgb(190, 190, 190);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        width: 1000px;
      }

      .employee_card[style*="display: none;"] {
        display: none; /* Hide employee cards that don't match the search */
      }

      .employee_details{
        display: flex;
      }
      .employee_details .img{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .employee_details .img i{
        width: 70px;
        font-size: 3rem;
        margin-left: 1rem;
        padding: 10px;
        color: rgb(82, 22, 138);
        background: rgb(216, 205, 226);
      }
      .employee_details .text{
        margin-left: 2.3rem;
      }
      .employee_details .text span{
        color: rgb(116, 112, 112);
      }
      .staff_number{
        text-align: right;
        color: rgb(54, 54, 54);
      }
      .employee_card:hover{
        border: 2px solid blueviolet;
      }


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }